<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!--<meta content="yes" name="apple-mobile-web-app-capable">-->
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="./static/css/reset.css">
	<link rel="stylesheet" href="./static/dll/<%= htmlWebpackPlugin.options.vendordllCssName %>">

	<!-- font -->
	<link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./static/assets/font-awesome/fonts/iconfont.css" />
	<!-- css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
	<link rel="stylesheet" href="./static/style.css">
	<link rel="stylesheet" type="text/css" href="./static/assets/js/gritter/css/jquery.gritter.css" />
	<link rel="stylesheet" type="text/css" href="./static/newBee.css" />

	<!-- <link href="https://cssninja.io/themes/cssninja/assets/css/bulma.css" rel="stylesheet"> -->
	<link href="https://cssninja.io/themes/cssninja/assets/css/core_ninja.css" rel="stylesheet">
	<!-- js -->
	<script src="./static/assets/js/jquery.js"></script>
	<script src="./static/util.js"></script>
	<script src="./static/newBee.js"></script>
	<script type="text/javascript" src="./static/assets/js/gritter/js/jquery.gritter.js"></script>
	<script type="text/javascript" src="./static/assets/js/gritter-conf.js"></script>
	<!-- hightLight -->
	<script src="./static/marked.js"></script>
	<link rel="stylesheet" type="text/css" href="./static/highlight.css" />
	<script src="./static/highlight.min.js"></script>
	<link rel="stylesheet" href="./static/default.css">
	<link rel="stylesheet" href="./static/github.css">
	<script src="./static/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<!-- for mobile test -->
	<!--<script src="./static/js/vconsole.min.js"></script>-->

	<title> new-bee 社区 </title>
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<div id="app"></div>


	<script src="./static/dll/<%= htmlWebpackPlugin.options.vendordllJsName %>"></script>
	<!-- built files will be auto injected -->
</body>

</html>