.scroll-list-wrap {
  position: relative;
  height: 100%;
  border-radius: 4px;
  transform: rotate(0deg); // fix 子元素超出边框圆角部分不隐藏的问题
  overflow: hidden;

  .left {
    flex: 1;
    flex-center(row, start, center);

    &-wrapper {
      margin-left: 10px;
      flex: 1;

      &-title {
        font-size: $font-size-base + 2px;
        margin-bottom: 6px;
        cursor: pointer;
      }

      &-desc {
        width: 160px;
        color: #ddd;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .right {
    flex: 1;
    text-align: right;

    .tag-wrapper {
      margin-top: 10px;

      &.tag+.tag {
        margin-left: 10px;
      }
    }
  }

  .classifi-left {
    &-name {
      margin-bottom: 10px;
    }

    &-tag-wrapper {
      &.tag+.tag {
        margin-left: 10px;
      }
    }
  }
  .classifi-right {
    align-self: flex-start;
  }
}
