.el-menu-item, .el-submenu__title {
    height: 40px;
    line-height: 40px;
}
.el-submenu .el-menu-item{
    height: 40px;
    line-height: 40px;
}

.vue-tab{
  .vux-tab-selected{
    color: #ff8000 !important;
  }
  .vux-tab-ink-bar{
    background-color #ff8000 !important
  }
}

.btn-save{
  background-color #40affc !important
}
.btn-common{
  background-color #ff8000 !important
}
.search {
    .weui-search-bar__label {
        line-height 26px !important
    }
}
.fontColor {
    color: black !important;
}
.vux-no-group-title{
    margin-top: 0 !important;
}
.weui-cell
  padding:10px 13px !important;

.resourceDinnerM
    select
        direction: ltr !important;
    select option
        direction: ltr !important;
    .dmHead
        .weui-cell
            padding:0px !important;
.vux-label{
  text-align: left !important;
}
.weui-cell__bd{
  line-height :normal
}
.weui-cell__bd
  input,textarea
    text-align: right !important;
select {
    direction: rtl;
}
select option {
    direction: ltr;
}

.weui-cell
  &:before,after
        box-sizing: content-box
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 /* WebKit browsers */
  color: #999
  font-weight: 100
  font-size: 100%
  font-family: monospace
}
input:-moz-placeholder, textarea:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  color: #999
  font-weight: 100
  font-size: 100%
  font-family: monospace
}
input::-moz-placeholder, textarea::-moz-placeholder {
 /* Mozilla Firefox 19+ */
  color: #999
  font-weight: 100
  font-size: 100%
  font-family: monospace
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
 /* Internet Explorer 10+ */
  color: #999
  font-weight: 100
  font-size: 100%
  font-family: monospace
}
textarea:disabled {
  background-color: #fff;
  color:#888
}
pre, xmp, plaintext, listing {
  font-family: monospace;
}
.weui-dialog
    & :before,:after{
        box-sizing:content-box;
    }
.weui-skin_android .weui-actionsheet {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
.weui-skin_android .weui-actionsheet__cell {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
}
.weui-select{
  height:24px !important ;
  line-height: 24px !important;
}
