
$primary-color = #ff8000 //项目主题色

$font-size-base = 14px // 项目文本大小

$color-explain = #101010 // 文本颜色

//** from bootstrap
$font-size-large =         ceil(($font-size-base * 1.25)) // ~18px
$font-size-small =         ceil(($font-size-base * 0.85)) // ~12px
$font-size-h1 =            floor(($font-size-base * 2.6)) // ~36px
$font-size-h2 =            floor(($font-size-base * 2.15)) // ~30px
$font-size-h3 =            ceil(($font-size-base * 1.7)) // ~24px
$font-size-h4 =            ceil(($font-size-base * 1.25)) // ~18px
$font-size-h5 =            $font-size-base
$font-size-h6 =            ceil(($font-size-base * 0.85)) // ~12px
//** Unit-less `line-height` for use in components like buttons.
$line-height-base =        1.428571429 // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed =    floor(($font-size-base * $line-height-base)) // ~20px


$zIndex-mask = 1000
$zindex-dropdown = 1050

$border-color-base = #ddd;
$border-radius-base = 4px

// Background Color
$background-color-base = #f7f7f7
$background-dialog = #4289CA
$background-color-active = #eee
$component-background = #fff
$component-background-gray = #F5F5F5

//icon
$color-icon-base = #ddd
// Disabled states
$disabled-color = tint(#000, 75%)
$disabled-bg = $background-color-base
$disabled-color-dark = tint(#fff, 65%)

// Avatar
$avatar-size-base = 36px
$avatar-size-lg = 50px
$avatar-size-sm = 24px
$avatar-font-size-base = 18px
$avatar-font-size-lg = 24px
$avatar-font-size-sm = 14px
$avatar-bg = #ccc
$avatar-color = #fff
$avatar-border-radius = $border-radius-base

// Shadow
$shadow-color = rgba(0, 0, 0, .2)
$box-shadow-base = $shadow-1-down
$shadow-1-up = 0 -1px 6px $shadow-color
$shadow-1-down = 0 1px 6px $shadow-color
$shadow-1-left = -1px 0 6px $shadow-color
$shadow-1-right = 1px 0 6px $shadow-color
$shadow-2 = 0 2px 8px $shadow-color

// TreeNav
$tree-nav-padding-vertical =   8px
$tree-nav-padding-horizontal = 15px
//** TreeNav background color
$tree-nav-bg =                 $component-background
//** TreeNav text color
$tree-nav-color =              #ccc
//** Text color of parent page in the TreeNav
$tree-nav-inactive-color =     #337ab7
//** Text color of current page in the TreeNav
$tree-nav-active-color =       #777
//** Textual separator for between TreeNav elements
$tree-nav-separator =          ">"
$tree-nav-lock-color =         #333
